body {
  font-family: sans-serif;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.page-header {
  background: linear-gradient(38.95deg, #9796f0 -10.38%, #fbc7d4 107.56%);
  padding-bottom: 100px;
}

.main-container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 32px;
}

.top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1600px;
  height: 60px;
  padding-top: 41px;
  padding-bottom: 45px;
}

.btn {
  border: 0;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.top-header__logo {
  width: 488px;
  height: 39px;
}

.top-header__input {
  border: 4px solid #272525;
  border-radius: 90px;
  padding-left: 70px;
  background: no-repeat left/5% url(../img/loupe-search.png);
  background-position: 30px;
  height: 60px;
  width: 490px;
  display: block;
}

.top-header__input::placeholder {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 105.5%;
  color: #8E8E8E;
}
.top-header__input:focus {
  background-image: url(../img/search-butt-mobile.svg);
}

.top-header__number-link {
  padding: 20.5px 62px;
  display: block;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 105.5%;
  text-align: center;
  text-decoration: none;
  color: #eef1f6;
  border-radius: 90px;
  background-color: #1fab8a;
  box-shadow: 0px 6px 25px rgba(121, 129, 173, 0.45);
}

.top-header__number-link:hover,
.top-header__number-link:focus {
  background-color: #1b886e;
}

.top-header__number-link:active {
  background-color: #156b57;
}

.top-header__profile-btn {
  display: flex;
  width: 60px;
  height: 60px;
}

.top-header__profile-img {
  width: 33px;
  height: 33px;
  margin: auto;
}

.lang {
  display: flex;
  align-items: center;
  margin-left: -35px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 105.5%;
}

.lang__btn {
  padding: 5px 1px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 105.5%;
  color: #8e8e8e;
  text-transform: uppercase;
  cursor: pointer;
}

.lang__btn--active {
  font-weight: 600;
  color: #272525;
}

.menu {
  height: 100px;
  background: rgba(250, 251, 253, 0.44);
}

.menu__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.menu__nav {
  height: 100%;
}

.menu__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
}

.menu__link {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 105.5%;
  text-decoration: none;
  color: #272525;
  display: flex;
  border-radius: 6px;
  height: 20px;
  padding: 40px;
}

.menu__link--active {
  background: #272525;
  box-shadow: 0px 16.0566px 20.0707px -4.01414px rgba(26, 32, 44, 0.1), 0px 8.02828px 8.02828px -4.01414px rgba(26, 32, 44, 0.04);
  color: #fafbfd;
  position: relative;
  font-weight: 800;
}

.menu__link--active::after {
  content: "";
  position: absolute;
  bottom: -16px;
  left: 0px;
  height: 8px;
  width: 180px;
  background: #272525;
  border-radius: 6px;
  pointer-events: none;
}

.menu__sale {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}

.menu__sale-link {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  padding-right: 300px;
  font-family: "Neutraface Display";
  font-style: normal;
  font-weight: 900;
  font-size: 38px;
  line-height: 38px;
  text-transform: lowercase;
  text-decoration: none;
  color: #3c336c;
  z-index: 0;
}

.menu__sale-img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: -1;
}

@media (max-width: 1500px) {
  .top-header {
    height: 36px;
    padding-top: 27px;
    padding-bottom: 40px;
  }

  .top-header__logo {
    width: 293px;
    height: 24px;
  }

  .top-header__input {
    width: 295px;
    height: 37px;
    border: 2px solid #272525;
    border-radius: 54px;
    background-position: 20px;
    padding-left: 40px;
  }

  .top-header__input::placeholder {
    font-size: 14px;
  }

  .top-header__number-link {
    padding: 11px 37px;
    font-size: 14px;
    box-shadow: 0px 3.60889px 15.037px rgba(121, 129, 173, 0.45);
    border-radius: 54.1333px;
  }

  .top-header__profile-img {
    width: 20px;
    height: 20px;
  }

  .lang {
    font-size: 12px;
  }

  .lang__btn {
    font-size: 12px;
  }

  .menu__nav {
    margin-left: 20px;
  }

  .menu__link {
    padding: 40px 20px;
    width: 100px;
  }

  .menu__link--active::after {
    width: 140px;
  }

  .menu__sale-link {
    width: 195px;
    height: 100%;
    font-size: 24px;
    line-height: 24px;
    padding-right: 150px;
  }
}
@media (min-width: 1000px) {
  .show-mobile {
    display: none;
  }
}

@media (max-width: 999px) {
  .hide-mobile {
    display: none;
  }

  .top-header {
    justify-content: flex-start;
    height: 80px;
    margin: 0px;
    padding-top: 0;
    padding-bottom: 0;
    background: rgba(250, 251, 253, 0.44);
  }

  .top-header__logo {
    width: 229px;
    height: 18px;
    margin: auto;
    left: 20px;
  }
  .top-header__search-butt {
    width: 21px;
    height: 21px;
    padding: 0px;
    background: transparent url(../img/search-butt-mobile.svg) no-repeat center;
    border: 0px;
    margin: 0 0 0 auto;
    cursor: pointer;
    margin-right: 0;
  }

  .top-header__number-link {
    margin: 0 58px;
  }

  .top-header__menu-btn {
    width: 28px;
    height: 17px;
    padding: 0px;
    background: transparent url(../img/menu-btn.svg) no-repeat center;
    border: 0px;
    margin: 0;
    cursor: pointer;
  }
}

@media (max-width: 650px) {
  .hide-number {
    display: none;
  }

  .top-header__logo {
    width: 210px;
    height: 17px;
  }

  .top-header__search-butt {
    margin-right: 30px;
  }
}

@media (max-width: 450px) {
  .top-header {
    height: 50px;
  }

  .top-header__logo {
    width: 130px;
    height: 10px;
  }

  .top-header__search-butt {
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
    margin-right: 25px;
  }

  .top-header__menu-btn {
    width: 20px;
    height: 12px;
    background-size: 20px 12px;
  }
}
