* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.page-header {
  background: linear-gradient(38.95deg, #9796f0 -10.38%, #fbc7d4 107.56%);
}

.main-container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 32px;
}

.top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 146px;
  padding-top: 41px;
  padding-bottom: 45px;
}

.btn {
  padding: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.top-header__logo {
  width: 488px;
  height: 39px;
}

.top-header__input {
  display: block;
  width: 491px;
  height: 60px;
  padding-left: 70px;
  border: 4px solid #272525;
  background: no-repeat left/5% url(../img/loupe-search.png);
  background-position: 30px;
  border-radius: 90px;
}

.top-header__input::placeholder {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 105.5%;
  font-weight: 500;
  color: #8e8e8e;
}

.top-header__input:focus {
  background-image: url(../img/search-btn-mobile.svg);
}

.top-header__number-link {
  display: block;
  padding: 20.5px 62px;
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 105.5%;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  color: #eef1f6;
  background-color: #1fab8a;
  border-radius: 90px;
  box-shadow: 0 6px 25px rgba(121, 129, 173, 0.45);
}

.top-header__number-link:hover,
.top-header__number-link:focus,
.creative-block_order:hover,
.creative-block_order:focus {
  background-color: #1b886e;
}

.top-header__number-link:active,
.creative-block_order:active {
  background-color: #156b57;
}

.top-header__profile-btn,
.burger-menu__profile-btn {
  display: flex;
  width: 60px;
  height: 60px;
}

.top-header__profile-img,
.burger-menu__profile-img {
  margin: auto;
}

.lang .lang__btn {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 105.5%;
  font-weight: 400;
}

.lang {
  display: flex;
  align-items: center;
  margin-left: -35px;
  color: #272525;
}

.lang__btn {
  padding: 5px 1px;
  color: #8e8e8e;
  text-transform: uppercase;
  cursor: pointer;
}

.lang__btn--active {
  font-weight: 600;
  color: #272525;
  cursor: default;
}

.menu {
  height: 100px;
  background: rgba(250, 251, 253, 0.44);
}

.menu__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.menu__nav {
  height: 100%;
}

.menu__list {
  display: flex;
  margin: 0;
  padding: 0;
  height: 100%;
  list-style: none;
}

.menu__link {
  display: flex;
  height: 100%;
  padding: 40px;
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 105.5%;
  font-weight: 600;
  text-decoration: none;
  color: #272525;
  border-radius: 6px;
}

.menu__link--active {
  position: relative;
  font-weight: 800;
  color: #fafbfd;
  background: #272525;
  box-shadow: 0 16.06px 20.07px -4.01px rgba(26, 32, 44, 0.1), 0px 8.03px 8.03px -4.01px rgba(26, 32, 44, 0.04);
}

.menu__link--active::after {
  position: absolute;
  bottom: -16px;
  left: 0;
  width: 100%;
  height: 8px;
  content: "";
  background: #272525;
  border-radius: 6px;
  pointer-events: none;
  z-index: 1;
}

.menu__sale {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}

.menu__sale-link {
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  height: 100%;
  padding-right: 120px;
  font-family: "Neutraface Display", sans-serif;
  font-style: normal;
  font-size: 38px;
  line-height: 38px;
  font-weight: 900;
  text-transform: lowercase;
  text-decoration: none;
  color: #3c336c;
}

.menu__sale-img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  height: 100%;
}

.page-top-content {
  position: relative;
  height: 605px;
  background: linear-gradient(38.95deg, #9796f0 -10.38%, #fbc7d4 107.56%);
  z-index: -2;
}

.top-content {
  display: flex;
  padding-top: 48px;
}

.top-content__create-or-choose-a-box {
  max-width: 600px;
}

.top-content__main-or-sets,
.main-or-sets__btn {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 130%;
  font-weight: 400;
  color: #7981ad;
}

.main-or-sets__btn--active,
.top-content__main-or-sets {
  color: #524983;
}

.top-content__title {
  margin: 20px 0 20px 0;
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-size: 48px;
  line-height: 60px;
  font-weight: 900;
  text-transform: uppercase;
  color: #272525;
}

.top-content__text {
  margin: 0 0 42px 0;
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 130%;
  font-weight: 400;
  color: #454747;
}

.top-content__write-to-the-manager {
  padding: 18px 39px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 17px;
  line-height: 140%;
  font-weight: 500;
  color: #ffffff;
  background-color: #3c336c;
  border-radius: 60px;
}

.top-content__create-a-box {
  margin-left: 45px;
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-size: 17px;
  line-height: 140%;
  font-weight: 500;
  color: #524983;
}

.top-content__main-img {
  position: absolute;
  right: 20px;
  top: -57px;
}

.page-mid-content {
  position: relative;
  overflow: hidden;
  background-color: #e5e5e5;
}

.mid-content {
  padding-top: 9px;
}

.mid-content__title {
  margin: 0 0 40px 0;
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-size: 48px;
  line-height: 58px;
  font-weight: 700;
  color: #272525;
}

.mid-content__cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mid-content__set {
  width: calc(25% - 23px);
  min-height: 632px;
}

.set {
  position: relative;
  background: #ffffff;
  border-radius: 15px;
  overflow: hidden;
}

.set:hover {
  box-shadow: 0px 16.0566px 22px -8px rgba(82, 73, 131, 0.1), 0px 8.02828px 8.02828px -4.01414px rgba(26, 32, 44, 0.04);
}

.set__image {
  object-fit: cover;
}

.set__slider {
  position: absolute;
  right: 23px;
  bottom: 253px;
  display: flex;
}

.set__counter {
  margin: 5px 9px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 105.5%;
  font-weight: 400;
  color: #7981ad;
}

.set__slider-arrow--rotate180 {
  transform: rotate(180deg);
}

.set__info {
  padding: 7px 16px 9px 16px;
}

.set__name {
  margin: 0;
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 105.5%;
  font-weight: 600;
  color: #272525;
}

.set__description {
  max-width: 220px;
  margin: 12px 0 15px 0;
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 105.5%;
  font-weight: 400;
  color: #272525;
}

.set__color {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.set__color--purple {
  background: #524983;
}

.set__color--green {
  background: #309f85;
}

.set__color--white {
  background: #f1f1f1;
}

.set__price {
  max-width: 150px;
  margin: 44px 0 0 0;
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 105.5%;
  font-weight: 600;
  color: #c4c4c4;
}

.set__basket-btn {
  position: absolute;
  right: 19px;
  bottom: 24px;
  width: 45px;
  height: 46px;
}

.navigation {
  position: relative;
  display: flex;
}

.mid-content__navigation {
  margin: 33px 0 0 16px;
}

.navigation__show-more-arrow-down {
  display: flex;
}

.navigation__show-more {
  margin: 0 24px 0 0;
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 130%;
  font-weight: 700;
  color: #272525;
}

.navigation__scroll-sets {
  position: absolute;
  right: 0;
}

.navigation__btn-left,
.navigation__btn-right {
  width: 40px;
  height: 40px;
  background: #ece7f0;
  border-radius: 50%;
}

.navigation__btn-left {
  margin-right: 30px;
}

.navigation__btn-right {
  margin-left: 30px;
  transform: rotate(180deg);
}

.navigation__btn {
  padding: 0 10px 0 10px;
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 130%;
  font-weight: 700;
  color: #7981ad;
}

.navigation__btn--active {
  width: 40px;
  height: 40px;
  margin: 0 10px 0 10px;
  padding: 0 15px 0 15px;
  font-size: 24px;
  color: #fafafa;
  background: #7981ad;
  box-shadow: 0px 16.0566px 20.0707px -4.01414px rgba(26, 32, 44, 0.1), 0px 8.02828px 8.02828px -4.01414px rgba(26, 32, 44, 0.04);
  border-radius: 50%;
}

.information-on-sets {
  display: flex;
  justify-content: space-between;
  gap: 62px;
}

.mid-content__information-on-sets {
  padding-top: 89px;
}

.information-on-sets__item {
  width: calc(33% - 96px);
}

.information-on-sets__title {
  margin: 0;
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-size: 36px;
  line-height: 130%;
  font-weight: 600;
  color: #272525;
}

.information-on-sets__text {
  margin: 20px 0 0 0;
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 130%;
  font-weight: 400;
  color: #454747;
}

.information-on-sets__text--another-colour {
  color: #524983;
}

.mid-content__creative-block {
  max-width: 789px;
  padding-top: 144px;
}

.creative-block__title {
  display: block;
  margin: auto;
}

.creative-block__main-question {
  margin: 32px 0 0 0;
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-size: 48px;
  line-height: 58px;
  font-weight: 700;
  color: #272525;
}

.creative-block__second-question {
  max-width: 592px;
  margin-bottom: 36px;
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  letter-spacing: 0.065em;
  color: #454747;
}

.creative-block__text {
  max-width: 300px;
  margin: 0;
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 29px;
  font-weight: 600;
  color: #222227;
}

.creative-block__text span {
  color: #1fab8a;
}

.creative-block__block-form {
  display: flex;
}

.creative-block__form {
  display: flex;
  flex-wrap: wrap;
  gap: 36px;
  margin-left: 88px;
}

.creative-block__input {
  display: block;
  flex-basis: 100%;
  max-inline-size: 336px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #272525;
}

.creative-block__input::placeholder {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #454747;
}

.creative-block__order-btn {
  margin-top: 4px;
  padding: 19px 105px;
  font-family: "Montswrrat", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 140%;
  font-weight: 500;
  color: #ffffff;
  background-color: #1fab8a;
  border-radius: 60px;
}

.creative-block__image {
  position: absolute;
  right: 115px;
  bottom: -21px;
}

.footer {
  display: flex;
  padding-top: 305px;
}

.footer__item {
  width: calc(43% - 0px);
}

.footer__contact {
  max-width: 280px;
}

.footer__logo {
  width: 489px;
  height: 40px;
}

.footer__tegline {
  max-width: 406px;
  margin: 10px 0 40px 0;
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 130%;
  font-weight: 400;
  letter-spacing: 0.065em;
  color: #454747;
}

.footer__phone-number {
  display: block;
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  text-decoration: none;
  color: #272525;
}

.footer__email {
  display: block;
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  text-decoration-line: underline;
  color: #272525;
}

.footer__networks-list {
  display: flex;
  margin: 24px 0 0 0;
  padding: 0;
  list-style: none;
}

.footer__networks-img {
  width: 25px;
  height: 25px;
}

.footer__networks-instagram {
  margin: 0 22px;
}

.footer__useful-links {
  margin-top: -14px;
}

.footer__categories {
  width: calc(18% - 13px);
}

.footer__info {
  width: calc(22% - 6px);
}

.footer__headlines {
  margin: 0;
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 36px;
  font-weight: 600;
  color: #272525;
}

.footer__lists {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__links {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 52px;
  font-weight: 400;
  text-decoration: none;
  color: #454747;
}

.footer__question-for-manager {
  margin: 0;
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 23px;
  font-weight: 400;
  color: #8F90A6;
}

.footer__contact-the-manager {
  width: 277px;
  margin-top: 24px;
  border: 2px solid #272525;
  border-radius: 15px;
  min-height: 54px;
}

.footer__input-tel {
  width: 224px;
  height: 100%;
  border: none;
  border-radius: 15px;
  background: #FFFFFF;
  outline: none;
  vertical-align: middle;
}

.footer__input-tel::placeholder {
  padding-left: 10px;
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 23px;
  font-weight: 400;
  color: #272525;
}

.footer__input-btn {
  width: 34px;
  height: 34px;
  margin-top: 8px;
  border: none;
  border-radius: 50%;
  vertical-align: middle;
  background: #524983 url(/img/footer-arrow.png) no-repeat 50% 50%;
}

.footer__privacy-policy {
  display: flex;
  max-width: 355px;
  margin: 38px auto 40px auto;
}

.privacy-policy__item,
.privacy-policy__link {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-size: 13px;
  line-height: 15px;
  font-weight: 400;
  color: #9FA3B2;
}

.privacy-policy__item {
  margin: 0 5px 0 0;
}

@media (max-width: 1500px) {
  .main-container {
    padding: 0 20px;
  }

  .top-header {
    height: 103px;
    padding-top: 27px;
    padding-bottom: 40px;
  }

  .top-header__logo {
    width: 293px;
    height: 24px;
  }

  .top-header__input {
    width: 295px;
    height: 37px;
    padding-left: 40px;
    background-position: 20px;
    border: 2px solid #272525;
    border-radius: 54px;
  }

  .top-header__input::placeholder {
    font-size: 14px;
  }

  .top-header__number-link {
    width: 185px;
    height: 36px;
    padding: 11px 37px;
    font-size: 14px;
    box-shadow: 0 3.61px 15.04px rgba(121, 129, 173, 0.45);
    border-radius: 54.13px;
  }

  .top-header__profile-img {
    width: 20px;
    height: 20px;
  }

  .lang .lang__btn {
    font-size: 12px;
  }

  .menu__nav {
    margin-left: 20px;
  }

  .menu__link {
    width: 140px;
    padding: 40px 20px;
  }

  .menu__sale-link {
    width: 340px;
    height: 100%;
    padding-right: 150px;
    font-size: 24px;
    line-height: 24px;
  }

  .top-content {
    padding: 68px 20px 0 20px;
  }

  .top-content__create-or-choose-a-box {
    max-width: 500px;
  }

  .top-content__main-or-sets {
    display: none;
  }

  .top-content__title {
    margin: 0;
  }

  .top-content__text {
    margin: 20px 0 34px 0;
    font-size: 16px;
    color: #272525;
  }

  .top-content__write-to-the-manager {
    padding: 19px 42px;
    font-family: "Gilroy", sans-serif;
    font-size: 16px;
  }

  .top-content__create-a-box {
    margin-left: 21px;
  }

  .top-content__main-img {
    position: absolute;
    top: 145px;
    right: 0px;
  }

  .mid-content__cards {
    margin: auto;
  }

  .mid-content__title {
    margin: 0 auto 21px auto;
  }

  .mid-content__set {
    width: calc(33% - 23px);
    min-height: 507px;
  }

  .set {
    border-radius: 12px;
  }

  .hide-set {
    display: none;
  }

  .set__slider {
    right: 10px;
    bottom: 207px;
  }

  .set__image {
    width: 100%;
    height: 311px;
  }

  .set__counter {
    margin: 3px 8px;
    font-size: 10px;
  }

  .set__slider-arrow {
    width: 8px;
    height: 16px;
  }

  .set__info {
    padding: 3px 13px 7px 13px;
  }

  .set__name {
    font-size: 19px;
  }

  .set__description {
    max-width: 180px;
    margin: 10px 0 13px 0;
    font-size: 10px;
  }

  .set__color {
    width: 19px;
    height: 19px;
  }

  .set__price {
    max-width: 150px;
    margin: 35px 0 0 0;
    font-size: 19px;
  }

  .set__basket-btn {
    right: 15px;
    bottom: 19px;
    width: 36px;
    height: 40px;
  }

  .set__basket-img {
    width: 36px;
    height: 40px;
  }

  .mid-content__navigation {
    margin: 43px auto 0 auto;
  }

  .information-on-sets {
    flex-wrap: wrap;
  }

  .mid-content__information-on-sets {
    margin: auto;
    padding-top: 83px;
  }

  .information-on-sets__item {
    width: calc(50% - 31px);
  }

  .mid-content__creative-block {
    max-width: 726px;
    padding-top: 188px;
  }

  .creative-block__title {
    margin-top: -21px;
  }

  .creative-block__main-question {
    max-width: 600px;
    margin: 43px 0 23px 0;
    line-height: 53px;
  }

  .creative-block__second-question {
    margin-bottom: 60px;
  }

  .creative-block__form {
    margin-left: 90px;
  }

  .creative-block__order-btn {
    margin-top: 4px;
    padding-left: 107px;
  }

  .creative-block__image {
    right: -175px;
    bottom: 315px;
    width: 595px;
    height: 536px;
    object-fit: cover;
  }

  .footer {
    padding-top: 231px;
    flex-wrap: wrap;
  }

  .footer__item {
    width: calc(57% - 0px);
  }

  .footer__useful-links {
    margin-top: -11px;
  }

  .footer__contact {
    display: flex;
    margin-top: 52px;
    max-width: 959px;
  }

  .footer__categories {
    width: calc(20% - 5px);
  }

  .footer__info {
    width: calc(23% - 0px);
  }

  .footer__contact-the-manager-title {
    width: calc(32% - 3px);
  }

  .footer__question-for-manager {
    width: calc(40% - 5px);
    line-height: 130%;
  }

  .footer__contact-the-manager {
    margin-top: -10px;
  }

  .footer__input-btn {
    margin-top: 1px;
  }
}

@media (min-width: 1000px) {
  .top-header__menu-btn,
  .top-header__search-btn {
    display: none;
  }
}

@media (max-width: 999px) {
  .menu,
  .top-header__input,
  .top-header__profile-btn,
  .lang {
    display: none;
  }

  .top-header {
    justify-content: flex-start;
    height: 80px;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    background: rgba(250, 251, 253, 0.44);
  }

  .top-header__logo {
    width: 229px;
    height: 18px;
    margin: auto;
  }
  .top-header__search-btn {
    width: 21px;
    height: 21px;
    margin: 0 0 0 auto;
    padding: 0;
    background: transparent url(../img/search-btn-mobile.svg) no-repeat center;
    border: 0;
    cursor: pointer;
  }

  .top-header__number-link {
    margin: 0 58px;
  }

  .top-header__menu-btn {
    width: 28px;
    height: 17px;
    margin: 0;
    padding: 0;
    background: transparent url(../img/menu-btn.svg) no-repeat center;
    border: 0;
    cursor: pointer;
  }

  .page-top-content {
    height: 497px;
  }

  .top-content {
    padding-top: 48px;
  }

  .top-content__create-or-choose-a-box {
    max-width: 470px;
  }

  .top-content__title {
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.04em;
  }

  .top-content__text {
    max-width: 350px;
    margin: 20px 0 38px 0;
  }

  .top-content__main-img {
    position: absolute;
    top: -8px;
    right: 0;
  }

  .mid-content {
    padding-top: 4px;
  }

  .mid-content__title {
    margin: 0 auto 16px auto;
  }

  .hide-set {
    display: block;
  }

  .mid-content__cards {
    flex-wrap: wrap;
    gap: 13px;
    margin-inline: auto;
  }

  .mid-content__set {
    flex-basis: calc((100% - 14px) / 2);
    min-height: 585px;
  }

  .set {
    border-radius: 14px;
  }

  .set__slider {
    right: 21px;
    bottom: 239px;
  }

  .set__image {
    height: 358px;
  }

  .set__counter {
    margin: 4px 8px;
    font-size: 11px;
  }

  .set__slider-arrow {
    width: 9px;
    height: 19px;
  }

  .set__info {
    padding: 7px 15px 9px 15px;
  }

  .set__name {
    font-size: 22px;
  }

  .set__description {
    max-width: 207px;
    margin: 11px 0 14px 0;
    font-size: 11px;
  }

  .set__color {
    width: 22px;
    height: 22px;
  }

  .set__price {
    margin: 41px 0 0 0;
    font-size: 22px;
  }

  .set__basket-btn {
    right: 17px;
    bottom: 22px;
    width: 42px;
    height: 43px;
  }

  .set__basket-img {
    width: 42px;
    height: 43px;
  }

  .mid-content__navigation {
    margin: 31px auto 0 auto;
  }

  .mid-content__information-on-sets {
    display: none;
  }

  .mid-content__creative-block {
    max-width: 892px;
    padding-top: 157px;
  }

  .creative-block__title {
    margin: auto;
  }

  .creative-block__main-question {
    margin: 43px 0 0 0;
    line-height: 53px;
  }

  .creative-block__second-question {
    margin: 23px 0 60px 0;
  }

  .creative-block__order-btn {
    padding-left: 105px;
  }

  .creative-block__image {
    right: -96px;
    bottom: 353px;
    width: 342px;
    height: 318px;
  }

  .footer {
    padding-top: 200px;
  }

  .footer__item {
    width: 100%;
    columns: 2;
  }

  .footer__logo {
    width: 410px;
    height: 35px;
  }

  .footer__tegline {
    max-width: 360px;
    margin: 5px 0 0 0;
    font-size: 16px;
  }

  .footer__phone-number,
  .footer__email,
  .footer__networks-list {
    margin-left: 118px;
  }

  .footer__phone-number {
    font-size: 18px;
    line-height: 21px;
    font-weight: 600;
  }

  .footer__email {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
  }

  .footer__useful-links {
    margin-top: 26px;
  }

  .footer__categories {
    width: calc(26% - 6px);
  }

  .footer__info {
    width: calc(26% - 5px);
  }

  .footer__contact {
    display: block;
    max-width: 351px;
  }

  .footer__contact-the-manager-title {
    width: 100%;
  }

  .footer__question-for-manager {
    width: 100%;
    line-height: 130%;
  }

  .footer__contact-the-manager {
    margin-top: 20px;
  }

  .footer__input-tel {
    margin-top: 10px;
  }

  .footer__input-btn {
    margin-top: 6px;
  }

  .footer__privacy-policy {
    margin-top: 30px;
  }
}

@media (max-width: 650px) {
  .top-header__number-link {
    display: none;
  }

  .top-header__logo {
    width: 210px;
    height: 17px;
  }

  .top-header__search-btn {
    margin-right: 30px;
  }

  .page-top-content {
    height: 446px;
  }

  .top-content {
    padding: 35px 19px 0 19px;
  }

  .top-content__text {
    max-width: 256px;
    margin-bottom: 31px;
  }

  .top-content__write-to-the-manager {
    padding: 16px 34px;
    font-size: 14px;
  }

  .top-content__create-a-box {
    display: block;
    margin: 7px 0 0 56px;
    font-size: 14px;
  }

  .top-content__main-img {
    position: absolute;
    top: 101px;
    right: 0;
  }

  .mid-content {
    padding-top: 6px;
  }

  .mid-content__title {
    margin-bottom: 25px;
    font-size: 28px;
    line-height: 34px;
  }

  .mid-content__cards {
    gap: 8px;
  }

  .mid-content__set {
    flex-basis: calc((100% - 8px) / 2);
    min-height: 354px;
  }

  .set {
    border-radius: 8px;
  }

  .set__slider {
    right: 13px;
    bottom: 144px;
  }

  .set__image {
    height: 217px;
  }

  .set__counter {
    margin: 5px 5px;
    font-size: 7px;
  }

  .set__slider-arrow {
    width: 6px;
    height: 11px;
  }

  .set__info {
    padding: 0 9px 5px 9px;
  }

  .set__name {
    font-size: 13px;
  }

  .set__description {
    max-width: 125px;
    margin: 7px 0 9px 0;
    font-size: 7px;
  }

  .set__color {
    width: 13px;
    height: 13px;
  }

  .set__price {
    max-width: 100px;
    margin-top: 25px;
    font-size: 13px;
  }

  .set__basket-btn {
    right: 10px;
    bottom: 13px;
    width: 25px;
    height: 26px;
  }

  .set__basket-img {
    width: 25px;
    height: 26px;
  }

  .navigation {
    flex-wrap: wrap;
  }

  .mid-content__navigation {
    max-inline-size: 321px;
    margin-top: 23px;
  }

  .navigation__show-more-arrow-down,
  .navigation__scroll-sets {
    display: flex;
    margin: 0 auto 0 auto;
  }

  .navigation__scroll-sets {
    position: static;
    margin-top: 23px;
  }

  .navigation__show-more-arrow-down {
    max-width: 158px;
  }

  .navigation__show-more {
    margin: 0 17px 0 0;
    font-size: 18px;
    font-weight: 500;
  }

  .mid-content__creative-block {
    max-width: 100%;
    padding-top: 79px;
    padding-bottom: 450px;
  }

  .creative-block__title {
    width: 206px;
    height: 45px;
  }

  .creative-block__main-question {
    margin-top: 36px;
    font-size: 27px;
    line-height: 110.9%;
  }

  .creative-block__second-question {
    max-width: 100%;
    margin: 14px 0 52px 0;
    font-size: 16px;
    line-height: 130%;
  }

  .creative-block__block-form {
    display: block;
  }

  .creative-block__text {
    max-width: 395px;
  }

  .creative-block__form {
    margin: 66px 0 0 0;
  }

  .creative-block__image {
    right: 0;
    bottom: 0;
    width: 442px;
    height: 348px;
    object-fit: contain;
  }

  .footer {
    padding-top: 147px;
  }

  .footer__item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  }

  .footer__networks-img {
    width: 34px;
    height: 34px;
  }

  .footer__tegline {
    margin-bottom: 21px;
  }

  .footer__networks-instagram {
    margin: 0 31px;
  }

  .footer__phone-number,
  .footer__email {
    margin-left: 0px;
  }

  .footer__networks-list {
    margin: -36px 0 0 232px;
  }

  .footer__categories {
    width: calc(43% - 1px);
  }

  .footer__useful-links {
    margin-top: 31px;
  }

  .footer__input-tel {
    margin-top: 6px;
  }

  .footer__input-btn {
    margin-top: 8px;
  }

  .footer__privacy-policy {
    margin-top: 23px;
  }

}

@media (max-width: 450px) {
  .top-header {
    height: 50px;
  }

  .top-header__logo {
    width: 130px;
    height: 10px;
  }

  .top-header__search-btn {
    width: 16px;
    height: 16px;
    margin-right: 25px;
    background-size: 16px 16px;
  }

  .top-header__menu-btn {
    width: 20px;
    height: 12px;
    background-size: 20px 12px;
  }

  .page-top-content {
    height: 631px;
  }

  .top-content {
    padding-top: 33px;
  }

  .top-content__title {
    font-size: 28px;
    line-height: 35px;
    text-align: center;
  }

  .top-content__text {
    max-width: 281px;
    margin: 14px 0 0 0;
    font-size: 15px;
    text-align: center;
  }

  .top-content__write-to-the-manager {
    margin: 345px 0 0 36px;
  }

  .top-content__create-a-box {
    margin-left: 91px;
  }

  .top-content__main-img {
    position: absolute;
    top: 188px;
    right: 0;
    z-index: -1;
  }

  .mid-content {
    padding-top: 26px;
  }

  .mid-content__title {
    margin-bottom: 10px;
  }

  .mid-content__cards {
    gap: 34px;
  }

  .mid-content__set {
    flex-basis: 100%;
    min-height: 468px;
  }

  .set {
    border-radius: 11px;
  }

  .set__slider {
    right: 17px;
    bottom: 191px;
  }

  .set__image {
    height: 287px;
  }

  .set__counter {
    margin: 5px 7px;
    font-size: 9px;
  }

  .set__slider-arrow {
    width: 7px;
    height: 15px;
  }

  .set__info {
    padding: 1px 12px 6px 12px;
  }

  .set__name {
    font-size: 13px;
  }

  .set__name {
    font-size: 18px;
  }

  .set__description {
    max-width: 165px;
    margin: 9px 0 12px 0;
    font-size: 9px;
  }

  .set__color {
    width: 18px;
    height: 18px;
  }

  .set__price {
    max-width: 140px;
    margin-top: 33px;
    font-size: 18px;
  }

  .set__basket-btn {
    right: 14px;
    bottom: 17px;
    width: 34px;
    height: 34px;
  }

  .set__basket-img {
    width: 34px;
    height: 34px;
  }

  .mid-content__navigation {
    max-inline-size: 280px;
    margin-top: 30px;
  }

  .navigation__scroll-sets {
    margin-top: 26px;
  }

  .navigation__btn-left,
  .navigation__btn-right {
    width: 33px;
    height: 33px;
  }

  .navigation__btn-left {
    margin-right: 23px;
  }

  .navigation__btn-right {
    margin-left: 23px;
  }

  .navigation__btn {
    padding: 0 7px 0 7px;
    font-size: 16px;
  }

  .navigation__btn--active {
    width: 33px;
    height: 33px;
    margin: 0 7px 0 7px;
    padding: 0 12px 0 12px;
    font-size: 21px;
    box-shadow: 0px 14.0057px 17.5072px -3.50143px rgba(26, 32, 44, 0.1), 0px 7.00286px 7.00286px -3.50143px rgba(26, 32, 44, 0.04);
  }

  .mid-content__creative-block {
    padding-top: 88px;
  }

  .creative-block__title {
    width: 154px;
    height: 33px;
  }

  .creative-block__main-question {
    margin-top: 28px;
    font-size: 24px;
    text-align: center;
  }

  .creative-block__second-question {
    margin: 13px 0 45px 0;
    font-size: 15px;
    text-align: center;
  }

  .creative-block__text {
    max-width: 100%;
    font-size: 20px;
    line-height: 24px;
    color: #222227;
    text-align: center;
  }

  .creative-block__form {
    margin: 42px 0 0 0;
    gap: 35px;
  }

  .creative-block__order-btn {
    margin-top: 6px;
  }

  .creative-block__image {
    right: -54px;
    bottom: 30px;
  }

  .footer {
    padding-top: 94px;
  }

  .footer__logo {
    width: 278px;
    height: 25px;
  }

  .footer__tegline {
    max-width: 270px;
    margin: 6px 0 21px 12px;
    font-size: 12px;
  }

  .footer__phone-number,
  .footer__email,
  .footer__networks-list {
    margin-left: auto;
    margin-right: auto;
  }

  .footer__networks-list {
    margin-top: 40px;
  }

  .footer__categories {
    width: calc(54% - 1px);
  }

  .footer__contact {
    margin-top: 52px;
  }

  .footer__contact-the-manager-title {
    display: block;
    max-width: 239px;
    margin: auto;
  }

  .footer__question-for-manager {
    max-width: 249px;
    margin: auto;
    font-size: 12px;
    text-align: center;
  }

  .footer__contact-the-manager {
    margin-top: 9px;
  }

  .footer__privacy-policy {
    display: block;
    max-width: 278px;
    margin: 33px auto 0 auto;
  }

  .privacy-policy__item,
  .privacy-policy__link {
    margin: 0;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
  }

  .privacy-policy__link {
    display: block;
    margin: 3px auto 23px auto;
  }
}

.burger-menu {
  display: none;
  padding-top: 1px;
  max-width: 280px;
  height: 540px;
  margin: auto;
  background: #fafafa;
  border-radius: 6px;
}

.burger-menu__top {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  height: 20px;
  margin: 33px auto 22px auto;
}

.burger-menu-lang,
.burger-menu-lang__btn {
  display: flex;
  margin-left: 0;
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  line-height: 105.5%;
  font-size: 12px;
  font-weight: 400;
}

.burger-menu-lang__btn {
  color: #8e8e8e;
  text-transform: uppercase;
  cursor: pointer;
}
.burger-menu-lang__btn--active {
  color: #272525;
  text-transform: uppercase;
  font-weight: 600;
  cursor: default;
}

.burger-menu__close-btn {
  position: absolute;
  right: 0px;
  display: block;
}

.burger-menu__content {
  margin: auto;
  width: 172px;
}

.burger-menu__link {
  display: inline-block;
  margin-bottom: 8px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 105.5%;
  text-align: center;
  color: #272525;
  text-decoration: none;
}

.burger-menu__link--active {
  margin-bottom: 16px;
  padding: 7px 14px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 105.5%;
  color: #fafbfd;
  background: #272525;
  border-radius: 6px;
}

.burger-menu-list {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.burger-menu__goods {
  display: block;
  columns: 2;
  margin-bottom: 14px;
  margin-left: 8px;
  text-align: left;
}

.burger-menu__sublink {
  display: inline-block;
  margin: 7px 0 8px;
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 105.5%;
  font-weight: 600;
  text-decoration: none;
  color: #8e8e8e;
}

.burger-menu__sublink--active {
  font-weight: 700;
  color: #272525;
}

.contacts {
  margin-top: 36px;
  text-align: center;
}

.contacts__email {
  display: block;
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-decoration-line: underline;
  color: #454747;
}

.contacts__number-link {
  display: inline-block;
  margin: 24px 0px 6px;
  padding: 10.55px 37.3px;
  font-size: 14px;
  border-radius: 54px;
}

.contacts__networks {
  display: flex;
  justify-content: space-around;
  margin: 6px 92px;
}

.contacts__instagram {
  margin: 0px 17px;
}
